<div id="guardContainer">

    <div class="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Note</h1>
                    </div>
                <div class="modal-body">
                    Please login to access all features!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="window.history.go(-1)">Back</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/pages/loginpage.html'">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
