.active-color {
    color: #3974af !important;
}

.theme-color {
    background-color: #ff9900;
}

.light-color,
html,
body {
    background-color: #ffffcc;
}


/* two bottons start*/

.navi-bottons {
    font-weight: bold;
    color: #ff9900;
    border: 2px solid #ff9900;
}

.navi-bottons:hover {
    background-color: #ff9900;
    color: #ffffcc;
    border: 2px solid #f8b943;
}

.navi-bottons-strong {
    font-weight: bold;
    color: rgb(87, 126, 218);
    border: 2px solid rgb(87, 126, 218);
}

.navi-bottons-strong:hover {
    background-color: #3974af;
    color: white;
    border: 2px solid rgb(87, 126, 218);
}

/* two buttons finish */

/* navbar starts */

.navbar {
    position: fixed;
    width:100vw;
    z-index: 100;
}

#navbar-hi {
    display: inline-block;
    padding-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}

#navbar-brand-box {
    display: flex;
    align-items: center;
}

.search-container {
    margin-left: 5vw;
    margin-right: 5vw;

}

.search-container {
    height: 50px;
}

.nav-container {
    position: relative;
}

.nav-search {
    display:flex;
    align-items: center;
    justify-content: center;
    width:30px;
    cursor: pointer;
}

.nav-search span {
    font-size: 20px;
}

.nav-search-bar .nav-searchbar-input {
    width:30vw;
}

.nav-link {
    display: flex;
    align-items: center;
}

.navbar-icons {
    margin-right:4px;
}

@media screen and (max-width:990px) {
    form.nav-search-bar {
        position:absolute;
        left:60px;
    }
}

/* nav bar finishes */

/* footer starts */

.footer-container {
    width:100vw;
    position:fixed;
    bottom:0;
}

/* footer ends */

/* card starts */

.card {
    background-color: #f6efa0;
    text-align: center;
    margin: 5px;
    overflow: auto;
}

/* card ends */

/* map starts here */
.map_container {
    overflow:hidden;
    z-index:1;
}

#map {
    margin-top:56px;
    height:600px;
    width:100vw;
}

/* map ends here */