.active-color {
    color: #3974af !important;
}

.theme-color {
    background-color: #ff9900;
}

.light-color,
html,
body {
    margin:0;
    padding:0;
    background-color: #ffffcc;
}

/* card */

.card{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


/* two bottons start*/

.navi-bottons {
    font-weight: bold;
    color: #ff9900;
    border: 2px solid #ff9900;
    cursor: pointer;
    transition: all 0.3s;
}

.navi-bottons:hover {
    background-color: #ff9900;
    color: #ffffcc;
    border: 2px solid #f8b943;
}

.navi-bottons-strong {
    font-weight: bold;
    color: rgb(87, 126, 218);
    border: 2px solid rgb(87, 126, 218);
    cursor: pointer;
    transition: all 0.3s;
}

.navi-bottons-strong:hover {
    background-color: #3974af;
    color: white;
    border: 2px solid rgb(87, 126, 218);
}

/* two buttons finish */

/* alert message starts*/
.navi-alertMessage {
    width:80%;
    right:10%;
    top:120px;
    position: fixed;
    opacity:0;
    transition: all 0.6s;
    z-index:1000;
}

.navi-alertMessage p {
    margin:0;
}

.navi-alertMessage span {
    float:right;
    top:5px;
    right:5px;
    cursor: pointer;
}

/* alert message finishes*/

/* navbar starts */

.navbar {
    position: fixed;
    width:100vw;
    z-index: 100;
}

#navbar-hi {
    display: inline-block;
    padding-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}

#navbar-brand-box {
    display: flex;
    align-items: center;
}

.search-container {
    margin-left: 5vw;
    margin-right: 5vw;

}

.search-container {
    height: 50px;
}

.nav-container {
    position: relative;
}

.nav-search {
    display:flex;
    align-items: center;
    justify-content: center;
    width:30px;
    cursor: pointer;
}

.nav-search span {
    font-size: 20px;
}

.nav-search-bar .nav-searchbar-input {
    width:30vw;
}

.nav-link {
    display: flex;
    align-items: center;
}

.navbar-icons {
    margin-right:4px;
}

@media screen and (max-width:990px) {
    form.nav-search-bar {
        position:absolute;
        left:60px;
    }
}

/* nav bar finishes */

/* footer starts */
/* everything not footer or nav should go in main */
.main{
    padding-top: 70px;
    min-height: 82vh;
}

.footer-container {
    width:100vw;
    position: relative;
    bottom:0;
    left:0;
}

/* footer ends */

/* navigationGuard starts */
#guardContainer {
    width:100vw;
    height:100vh;
    background-color: rgba(47, 53, 66,0.8);
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card starts */

.card {
    background-color: #f6efa0;
    text-align: center;
    margin: 5px;
    overflow: auto;
}

/* card ends */

/* map starts here */
.map_container {
    overflow:hidden;
    z-index:1;
}

#map {
    margin-top:56px;
    height:600px;
    width:100vw;
}

/* map ends here */