.active-color {
    color: #3974af !important;
}

.theme-color {
    background-color: #ff9900;
}

.light-color,
html,
body {
    background-color: #ffffcc;
}

.navi-bottons {
    font-weight: bold;
    color: #ff9900;
    border: 2px solid #ff9900;
}

.navi-bottons:hover {
    background-color: #ff9900;
    color: #ffffcc;
    border: 2px solid #f8b943;
}

.navi-bottons-strong {
    font-weight: bold;
    color: rgb(87, 126, 218);
    border: 2px solid rgb(87, 126, 218);
}

.navi-bottons-strong:hover {
    background-color: #3974af;
    color: white;
    border: 2px solid rgb(87, 126, 218);
}