img {
    display:inline-block;
    height: 320px;
    padding: 5px;
    border-radius: 10px;
}

.images{
    height: 350px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.images .card{
    --bs-gutter-x: 0;
    display: inline-block;
}

p {
    padding: 5px;
    text-align: center;
    margin-bottom: 0%;
}

.votecontainer .col{
    display:flex;
    align-items: center;
    justify-content: center;
}

.votecontainer .material-symbols-outlined:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }

.details{
    background-color: white;  
}

.details p {
    text-align: justify;
}

.container {
    padding-top: 70px;
}