/* landing page starts */
.nav-search-bar {
    display: none;
}

.welcome-banner-container {
    padding-top: 10vh;
}

@media screen and (max-width:550px) {
    .navi-items-text-first {
        display: inline-block;
        margin-top: 10px;
    }

    .welcome-banner {
        margin: 0 1vw !important;
        margin-bottom: 20vh !important;
    }

    .welcome-title {
        margin-top: 6vh;
    }

}

footer {
    position: fixed;
    bottom:0;
}


@media screen and (min-width:550px) {

    .navi-items-text {
        font-weight: bold;
    }


    .navi-items {
        margin-left: 20px;
    }

    .welcome-banner {
        margin-top:100px !important;
    }

    .search-container {
        margin-top: 8vh;
    }


}

/* landing page finishes */