.weather-list {
    padding-top: 100px;
    padding-bottom: 100px;
}

.card {
    max-height: 70%;
    margin-bottom: 20px;
}

.card-title1 {
    display:inline;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.card-title2 {
    display: inline;
    float: left;
}

.card-img-bottom {
    height: 300px;
    border: 1px solid lightgray;
}

footer {
    position: static !important;
    bottom:0;
    text-align: center;
    justify-content: center;
}
